<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6Cse0ZTFvPpuHA9W2iCQx5C1Dl5fJoYw</string>
	<key>GCM_SENDER_ID</key>
	<string>547095373091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dancepozz.dplanner</string>
	<key>PROJECT_ID</key>
	<string>dplanner-6a650</string>
	<key>STORAGE_BUCKET</key>
	<string>dplanner-6a650.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547095373091:ios:a13e6659d8804f172d5896</string>
</dict>
</plist>