<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>440122903298-2f2tq11inicd4vr72rs8gg8nuqa5ev6n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTrmvpPmfLncQCkYNdBOadJi6s4x1wDHg</string>
	<key>GCM_SENDER_ID</key>
	<string>440122903298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dancepozz.dplanner</string>
	<key>PROJECT_ID</key>
	<string>dplanner-c2b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>dplanner-c2b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440122903298:ios:1eef27f2833f5c1202501b</string>
</dict>
</plist>